[SYSTEM]
<role>{role}</role>

<task>{task}</task>

<context>{context}</context>

<guiding_principles>
{constraints}
</guiding_principles>

<output_requirements>{output_format}</output_requirements>

{guidance_blocks}

[USER]
{input}
